/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1d2d;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #111111;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header > div {
    flex: 1;
    text-align: center;
}

/* Título */
header h1 {
    margin: 0;
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

header img {
    width: 200px;
    height: auto;
    flex-shrink: 0;
}

/* Navegación */
nav {
    margin-top: 0;
}

/* Botones */
nav a {
    background-color: #1c1d2d;
    color: #dbd9d9;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 8px;
    margin: 10px 10px;
    display: inline-block;
    transition: 0.3s ease;
    font-weight: bold;

}

/* Hover */
nav a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Sección principal */
.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 40px;
}

.hero img {
    width: 600px;
    height: auto;
    flex-shrink: 0;
    margin-top: 30px;
}

.hero-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.hero-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-texto h2 {
    color: #CF94B5;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
}

.hero-texto p {
    color: #cccccc;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

/* Contenido */
.contenido {
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
}

.contenido p {
    margin: 0;
}

/* Footer */
footer {
    background-color: #111111;
    padding: 20px;
    margin-top: auto;
    font-size: 14px;
    color: #aaaaaa;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.card {
    background: #2a2b45;
    color: #ffffff;
    border-radius: 18px;
    padding: 30px 24px;
    width: 370px;
    min-height: 410px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);  /* sombra pro */
    transition: 0.3s ease;
}

.card p {
    text-align: justify;
    font-size: 15px;
}

.card:hover {
    transform: translateY(-8px);
    background: #34365c;
}

.card h3 {
    color: #CF94B5;
    text-align: center;
    font-size: 23px;
}

.card .flecha {
    margin-top: 15px;
    color: #EEC1A9;
    line-height: 1.5;
    text-align: center;
    padding: 20px 0;
}

.card .quote {
    color: #EEC1A9;
    font-weight: bold;
    text-align: center;
}