/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1d2d;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-color: #111111;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

header > div {
    flex: 1;
    text-align: center;
}

/* Título */
header h1 {
    margin: 0;
    font-size: 60px;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navegación */
nav {
    margin-top: 0;
}

/* Botones */
nav a {
    background-color: #1c1d2d;
    color: #dbd9d9;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 8px;
    margin: 10px 10px;
    display: inline-block;
    transition: 0.3s ease;
    font-weight: bold;

}

/* Hover */
nav a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Sección principal */
.hero {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 40px;
}

.hero img {
    width: 600px;
    height: auto;
    flex-shrink: 0;
    margin-top: 30px;
    border-radius: 10px;
}

.hero-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.hero-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-texto h2 {
    color: #CF94B5;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    letter-spacing: 4px;
}

.hero-texto p {
    color: #cccccc;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}

/* Contenido */
.contenido {
    padding: 20px;
    text-align: justify;
    line-height: 1.6;
}

.contenido p {
    margin: 0;
}

/* Footer */
footer {
    background-color: #111111;
    padding: 20px;
    margin-top: auto;
    font-size: 14px;
    color: #aaaaaa;
}

.cards-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.card {
    background: #2a2b45;
    color: #ffffff;
    border-radius: 18px;
    padding: 30px 24px;
    width: 370px;
    min-height: 410px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);  
    transition: 0.3s ease;
}

.card p {
    text-align: justify;
    font-size: 15px;
}

.card:hover {
    transform: translateY(-8px);
    background: #34365c;
}

.card h3 {
    color: #CF94B5;
    text-align: center;
    font-size: 23px;
}

.card .flecha {
    margin-top: 15px;
    color: #EEC1A9;
    line-height: 1.5;
    text-align: center;
    padding: 20px 0;
}

.card .quote {
    color: #EEC1A9;
    font-weight: bold;
    text-align: center;
}

/* Tracklist Hero */
.tracklist-hero {
    display: flex;
    align-items: flex-start; /* Alinea al inicio verticalmente */
    justify-content: flex-start; /* Que quede pegado a la izquierda */
    gap: 100px; /* Espacio entre imagen y texto */
    margin: 40px;
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Que el padding no haga overflow */
    align-items: center;
}

/* Imagen */
.tracklist-hero img {
    width: 600px;
    height: auto;
    flex-shrink: 0;
    margin-top: 10px;
    border-radius: 10px;
}

/* Lista de canciones */
.lista-canciones {
    list-style: decimal inside;
    padding: 20px 10px;
    text-align: justify;
}

.lista-canciones li {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
}

/* Galería */
section {
    display: grid;
    grid-template-columns: repeat(4, 300px); /* 4 columnas fijas de 200px */
    grid-template-rows: repeat(2, 225px);    /* 2 filas fijas de 200px */
    gap: 20px;                               /* Espacio entre imágenes */
    justify-content: center;                  /* Centra el grid */
    padding: 20px;
}

section img {
    margin-top: 20px;
    width: 100%;          /* Ocupa todo el ancho de la celda */
    height: 100%;         /* Ocupa todo el alto de la celda */
    object-fit: cover;    /* Mantiene proporción y recorta si es necesario */
    border-radius: 10px;  /* Bordes redondeados */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Sombra opcional para que resalte */
}

.plataformas-container {
    padding: 80px 40px;
    text-align: center;
}

.plataformas-container h2 {
    color: #CF94B5;
    font-size: 38px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.descripcion-plataformas {
    color: #cccccc;
    max-width: 700px;
    margin: 0 auto 60px auto;
    line-height: 1.6;
}

.plataformas-grid {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.plataforma-card {
    background-color: #2a2b45;
    color: #ffffff;
    text-decoration: none;
    padding: 40px 60px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.plataforma-card:hover {
    background-color: #CF94B5;
    color: #000000;
    transform: translateY(-8px);
}